<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @constituent_profile.user_id %>
</p>

<%= link_to 'Edit', edit_constituent_profile_path(@constituent_profile) %> |
<%= link_to 'Back', constituent_profiles_path %>
